<footer class="footer">
    <p>Copyright Jonathan George <script>document.write(new Date().getFullYear())</script>.</p>
    <section class="poweredby"><small>Proudly published with <a class="icon-ghost" href="http://ghost.org"> Ghost</a></small></section>
</footer>