<footer class="footer">
    <p>Copyright {{@blog.title}} <script>document.write(new Date().getFullYear())</script>.</p>
    <p><a href="https://github.com/jonwgeorge/Simple">Simple</a> by <a href="http://www.jonwgeorge.com/">Jonathan George</a></p>
    <section class="poweredby"><small>Proudly published with <a class="icon-ghost" href="http://ghost.org"> Ghost</a></small></section>
</footer>