<header class="header">		
	<div class="logo"{{#if @blog.cover}} style="background-image: url({{@blog.cover}});"{{/if}}>
		<h1>
			<a href="{{@blog.url}}"></a>
		</h1>	

		<div class="blog-description">
			<div class="through-line">{{@blog.description}}</div>		
		</div>
	</div>
    <section class="navigation">
        {{> navigation}}
    </section>
    <section id="results"></section>
</header>