<ul id="sddm">
    <li><a href="/">Home</a></li>
    <li><a href="#" 
        onmouseover="mopen('m2')" 
        onmouseout="mclosetime()">Projects</a>
        <div id="m2" 
            onmouseover="mcancelclosetime()" 
            onmouseout="mclosetime()">
        <a href="/retro-time/">Retro Time Pebble Watchface</a>
        </div>
    </li>
    <li><a href="/about/">About Me</a></li>
    <li><a href="/contact/">Contact Me</a></li>
    <li><a href="/subscribe/">Subscribe</a></li>
</ul>
<div style="clear:both"></div>
<div style="float:right;margin-top:-20px;">
    <form>
        <div class="input-prepend">
            <span class="add-on"><i class="fa fa-search"></i></span>
            <input id="search-field" placeholder="Search..." style="border: 0px solid;width: 100px;" />
        </div>
    </form>
</div>