{{! Twitter }}
<a class="icon icon-twitter" href="http://twitter.com/jonwgeorge" target="_blank">			
    <i class="fa fa-twitter-square"></i>
</a>

{{! LinkedIn }}
<a class="icon icon-linkedin" href="http://www.linkedin.com/in/jonwgeorge" target="_blank">
    <i class="fa fa-linkedin-square"></i>
</a>

{{! Google }}
<a class="icon icon-google-plus-square" href="http://plus.google.com/+JonathanGeorge04" target="_blank">
    <i class="fa fa-google-plus-square"></i>
</a>

{{! Flickr }}
<a class="icon icon-flickr" href="http://flickr.com/jonwgeorge" target="_blank">
    <i class="fa fa-flickr"></i>
</a>

{{! Github }}
<a class="icon icon-github" href="http://github.com/jonwgeorge" target="_blank">
	<i class="fa fa-github-square"></i>
</a>

{{! RSS }}
<a class="icon icon-feed" href="{{@blog.url}}/rss/" target="_blank">
	<i class="fa fa-rss-square"></i>
</a>