{{! Twitter }}
<a class="icon icon-twitter" href="#" target="_blank">			
    <i class="fa fa-twitter-square"></i>
</a>

{{! LinkedIn }}
<a class="icon icon-linkedin" href="#" target="_blank">
    <i class="fa fa-linkedin-square"></i>
</a>

{{! Google }}
<a class="icon icon-google-plus-square" href="#" target="_blank">
    <i class="fa fa-google-plus-square"></i>
</a>

{{! Flickr }}
<a class="icon icon-flickr" href="#" target="_blank">
    <i class="fa fa-flickr"></i>
</a>

{{! Github }}
<a class="icon icon-github" href="#" target="_blank">
	<i class="fa fa-github-square"></i>
</a>

{{! RSS }}
<a class="icon icon-feed" href="{{@blog.url}}/rss/" target="_blank">
	<i class="fa fa-rss-square"></i>
</a>