{{!< default}}

<div class="wrapper">
    {{> header}}

    <section class="articles">
        <p><big><i class="fa fa-exclamation-triangle"></i> 404</big> | I am sorry, the page you are looking for is lost</p>
        
        <video id="404Movie" width="540" height="380" preload autoplay controls>
           <source src="https://dl.dropboxusercontent.com/u/42779824/404_Vid_final.mp4" type="video/mp4"/>
        </video>
        
        <p>Periodically, pages go missing, assets get misplaced -- you should not be concerned, this kind of thing happens. I am fortunate to have a relationship with several teams of ex-special forces operatives who help me track down these missing pages. When a page on this website goes rogue -- and a code 404 arises -- I dispatch one of my teams to bring it back. Ideally they are able to salvage the missing page, but sometimes, if the page is truly lost, they have to take it out (resulting in the subsequent code 500 when the page gets taken down).</p>

        <p>Regarding the page you are currently looking for, one of my teams actually did find it, but it did not want to be found and a firefight ensued. This encounter is documented above.</p>

        <p>I am very sorry I am not able to display the page you were looking for. Please go back home and I’ll do my best to ensure this kind of mix up is resolved peacefully in the future.</p>
        
        <hr>
    </section>
    
    {{> footer}}
</div>